<h1> this is a wordcloud page</h1>

{% load static %}
<html>
<style>
    body{
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .row::after{
        content: "";
        clear: both;
        display: table;
    }
</style>
<body>

    <div class="row">
        <div class="column">
            <img src="{% static 'homepage/images/placeholder_cloud.jpg' %}" alt="Word Cloud" style="width:400px;height:400px;margin-left: 100px;"/>
        </div>
    </div> 

</body>
</html>