<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <style>

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://a.cdn-hotels.com/gdcs/production5/d1311/3af59bd7-0d47-4291-9ba0-c34803de7c54.jpg?impolicy=fcrop&w=1600&h=1066&q=medium');
    background-size: cover; /* 使背景图适应屏幕 */
    background-position: center; /* 将背景图居中 */
    background-attachment: fixed; /* 固定背景图 */
}

.container {
    max-width: 800px;
    margin: auto; /* 将内容水平居中 */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* 将原白色背景透明度调整为80% */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; 
}

        .nav-bar {
            margin-bottom: 20px;
            width: 100%;
            font-family: sans-serif; /* 设置字体为 Arial 或者默认 sans-serif */
        }
        .search-bar {
            margin-bottom: 20px;
            width: calc(500% - 200px); 
        }
        .module {
            margin-right: 20px;


            flex: 1 1 200px; 
        }
        .module-title {
            font-weight: bold;
            margin-bottom: 10px;
            color: #005503; 
        }
        .checkbox-group {
            display: flex;
            flex-direction: column;
        }
        .checkbox {
            margin-bottom: 5px;

            vertical-align: middle; 
        }
        .button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;

            bottom: 20px; 
            right: 20px; 

        }
    </style>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <a href="{% url 'index' %}">HomePage</a></li>
        </div>
        <h2>What would you like to know about the pollution in Tennessee?</h2>
        <form action="{% url 'fetch_articles' %}" method="get">
                <input type="text" name="q" placeholder="Enter your search term" required>
           
        
            <div class="module">
                <h3 class="module-title">Pollution Terms</h3>
                <div class="checkbox-group">
                    <input type="checkbox" class="checkbox" id="air" name="air"><label for="air">Air</label>
                    <input type="checkbox" class="checkbox" id="water" name="water"><label for="water">Water</label>
                    <input type="checkbox" class="checkbox" id="noise" name="noise"><label for="noise">Noise</label>
                    <input type="checkbox" class="checkbox" id="waste" name="waste"><label for="waste">Waste</label>
                </div>
            </div>
            <div class="module">
                <h3 class="module-title">Location</h3>
                <select name="location">
<option value="adams">Adams</option>
<option value="adamsville">Adamsville</option>
<option value="adamsville">Adamsville</option>
<option value="alamo">Alamo</option>
<option value="alcoa">Alcoa</option>
<option value="alexandria">Alexandria</option>
<option value="algood">Algood</option>
<option value="allardt">Allardt</option>
<option value="altamont">Altamont</option>
<option value="ardmore">Ardmore</option>
<option value="arlington">Arlington</option>
<option value="ashland city">Ashland City</option>
<option value="athens">Athens</option>
<option value="atoka">Atoka</option>
<option value="atwood">Atwood</option>
<option value="auburntown">Auburntown</option>
<option value="baileyton">Baileyton</option>
<option value="baneberry">Baneberry</option>
<option value="bartlett">Bartlett</option>
<option value="baxter">Baxter</option>
<option value="bean station">Bean Station</option>
<option value="beersheba springs">Beersheba Springs</option>
<option value="bell buckle">Bell Buckle</option>
<option value="belle meade">Belle Meade</option>
<option value="bells">Bells</option>
<option value="benton">Benton</option>
<option value="berry hill">Berry Hill</option>
<option value="bethel springs">Bethel Springs</option>
<option value="big sandy">Big Sandy</option>
<option value="blaine">Blaine</option>
<option value="bluff city">Bluff City</option>
<option value="bolivar">Bolivar</option>
<option value="braden">Braden</option>
<option value="bradford">Bradford</option>
<option value="brentwood">Brentwood</option>
<option value="brighton">Brighton</option>
<option value="bristol">Bristol</option>
<option value="brownsville">Brownsville</option>
<option value="bruceton">Bruceton</option>
<option value="bulls gap">Bulls Gap</option>
<option value="burlison">Burlison</option>
<option value="burns">Burns</option>
<option value="byrdstown">Byrdstown</option>
<option value="calhoun">Calhoun</option>
<option value="camden">Camden</option>
<option value="carthage">Carthage</option>
<option value="caryville">Caryville</option>
<option value="cedar hill">Cedar Hill</option>
<option value="celina">Celina</option>
<option value="centertown">Centertown</option>
<option value="centerville">Centerville</option>
<option value="chapel hill">Chapel Hill</option>
<option value="charleston">Charleston</option>
<option value="charlotte">Charlotte</option>
<option value="chattanooga">Chattanooga</option>
<option value="church hill">Church Hill</option>
<option value="clarksburg">Clarksburg</option>
<option value="clarksville">Clarksville</option>
<option value="cleveland">Cleveland</option>
<option value="clifton">Clifton</option>
<option value="clinton">Clinton</option>
<option value="coalmont">Coalmont</option>
<option value="collegedale">Collegedale</option>
<option value="collierville">Collierville</option>
<option value="collinwood">Collinwood</option>
<option value="columbia">Columbia</option>
<option value="cookeville">Cookeville</option>
<option value="coopertown">Coopertown</option>
<option value="copperhill">Copperhill</option>
<option value="cornersville">Cornersville</option>
<option value="cottage grove">Cottage Grove</option>
<option value="covington">Covington</option>
<option value="cowan">Cowan</option>
<option value="crab orchard">Crab Orchard</option>
<option value="cross plains">Cross Plains</option>
<option value="crossville">Crossville</option>
<option value="crump">Crump</option>
<option value="cumberland city">Cumberland City</option>
<option value="cumberland gap">Cumberland Gap</option>
<option value="dandridge">Dandridge</option>
<option value="dayton">Dayton</option>
<option value="decatur">Decatur</option>
<option value="decaturville">Decaturville</option>
<option value="decherd">Decherd</option>
<option value="dickson">Dickson</option>
<option value="dover">Dover</option>
<option value="dowelltown">Dowelltown</option>
<option value="doyle">Doyle</option>
<option value="dresden">Dresden</option>
<option value="ducktown">Ducktown</option>
<option value="dunlap">Dunlap</option>
<option value="dyer">Dyer</option>
<option value="dyersburg">Dyersburg</option>
<option value="eagleville">Eagleville</option>
<option value="east ridge">East Ridge</option>
<option value="eastview">Eastview</option>
<option value="elizabethton">Elizabethton</option>
<option value="elkton">Elkton</option>
<option value="englewood">Englewood</option>
<option value="enville">Enville</option>
<option value="enville">Enville</option>
<option value="erin">Erin</option>
<option value="erwin">Erwin</option>
<option value="estill springs">Estill Springs</option>
<option value="ethridge">Ethridge</option>
<option value="etowah">Etowah</option>
<option value="fairview">Fairview</option>
<option value="farragut">Farragut</option>
<option value="fayetteville">Fayetteville</option>
<option value="finger">Finger</option>
<option value="forest hills">Forest Hills</option>
<option value="franklin">Franklin</option>
<option value="friendship">Friendship</option>
<option value="friendsville">Friendsville</option>
<option value="gadsden">Gadsden</option>
<option value="gainesboro">Gainesboro</option>
<option value="gallatin">Gallatin</option>
<option value="gallaway">Gallaway</option>
<option value="garland">Garland</option>
<option value="gates">Gates</option>
<option value="gatlinburg">Gatlinburg</option>
<option value="germantown">Germantown</option>
<option value="gibson">Gibson</option>
<option value="gilt edge">Gilt Edge</option>
<option value="gleason">Gleason</option>
<option value="goodlettsville">Goodlettsville</option>
<option value="goodlettsville">Goodlettsville</option>
<option value="gordonsville">Gordonsville</option>
<option value="grand junction">Grand Junction</option>
<option value="grand junction">Grand Junction</option>
<option value="graysville">Graysville</option>
<option value="greenback">Greenback</option>
<option value="greenbrier">Greenbrier</option>
<option value="greeneville">Greeneville</option>
<option value="greenfield">Greenfield</option>
<option value="gruetli-laager">Gruetli-Laager</option>
<option value="guys">Guys</option>
<option value="halls">Halls</option>
<option value="harriman">Harriman</option>
<option value="harrogate">Harrogate</option>
<option value="hartsville">Hartsville</option>
<option value="henderson">Henderson</option>
<option value="hendersonville">Hendersonville</option>
<option value="henning">Henning</option>
<option value="henry">Henry</option>
<option value="hickory valley">Hickory Valley</option>
<option value="hohenwald">Hohenwald</option>
<option value="hollow rock">Hollow Rock</option>
<option value="hornbeak">Hornbeak</option>
<option value="hornsby">Hornsby</option>
<option value="humboldt">Humboldt</option>
<option value="huntingdon">Huntingdon</option>
<option value="huntland">Huntland</option>
<option value="huntsville">Huntsville</option>
<option value="jacksboro">Jacksboro</option>
<option value="jackson">Jackson</option>
<option value="jamestown">Jamestown</option>
<option value="jasper">Jasper</option>
<option value="jefferson city">Jefferson City</option>
<option value="jellico">Jellico</option>
<option value="johnson city">Johnson City</option>
<option value="johnson city">Johnson City</option>
<option value="johnson city">Johnson City</option>
<option value="jonesborough">Jonesborough</option>
<option value="kenton">Kenton</option>
<option value="kenton">Kenton</option>
<option value="kimball">Kimball</option>
<option value="kingsport">Kingsport</option>
<option value="kingsport">Kingsport</option>
<option value="kingston">Kingston</option>
<option value="kingston springs">Kingston Springs</option>
<option value="knoxville">Knoxville</option>
<option value="la grange">La Grange</option>
<option value="la vergne">La Vergne</option>
<option value="lafollette">LaFollette</option>
<option value="lafayette">Lafayette</option>
<option value="lakeland">Lakeland</option>
<option value="lakesite">Lakesite</option>
<option value="lawrenceburg">Lawrenceburg</option>
<option value="lebanon">Lebanon</option>
<option value="lenoir city">Lenoir City</option>
<option value="lewisburg">Lewisburg</option>
<option value="lexington">Lexington</option>
<option value="liberty">Liberty</option>
<option value="linden">Linden</option>
<option value="livingston">Livingston</option>
<option value="lobelville">Lobelville</option>
<option value="lookout mountain">Lookout Mountain</option>
<option value="loretto">Loretto</option>
<option value="loudon">Loudon</option>
<option value="louisville">Louisville</option>
<option value="luttrell">Luttrell</option>
<option value="lynchburg">Lynchburg</option>
<option value="lynnville">Lynnville</option>
<option value="madisonville">Madisonville</option>
<option value="manchester">Manchester</option>
<option value="martin">Martin</option>
<option value="maryville">Maryville</option>
<option value="mason">Mason</option>
<option value="maury city">Maury City</option>
<option value="maynardville">Maynardville</option>
<option value="mcewen">McEwen</option>
<option value="mckenzie">McKenzie</option>
<option value="mckenzie">McKenzie</option>
<option value="mckenzie">McKenzie</option>
<option value="mclemoresville">McLemoresville</option>
<option value="mcminnville">McMinnville</option>
<option value="medina">Medina</option>
<option value="medon">Medon</option>
<option value="memphis">Memphis</option>
<option value="michie">Michie</option>
<option value="middleton">Middleton</option>
<option value="milan">Milan</option>
<option value="milledgeville">Milledgeville</option>
<option value="milledgeville">Milledgeville</option>
<option value="milledgeville">Milledgeville</option>
<option value="millersville">Millersville</option>
<option value="millersville">Millersville</option>
<option value="millington">Millington</option>
<option value="minor hill">Minor Hill</option>
<option value="mitchellville">Mitchellville</option>
<option value="monteagle">Monteagle</option>
<option value="monteagle">Monteagle</option>
<option value="monterey">Monterey</option>
<option value="morrison">Morrison</option>
<option value="morristown">Morristown</option>
<option value="moscow">Moscow</option>
<option value="mosheim">Mosheim</option>
<option value="mount carmel">Mount Carmel</option>
<option value="mount juliet">Mount Juliet</option>
<option value="mount pleasant">Mount Pleasant</option>
<option value="mountain city">Mountain City</option>
<option value="munford">Munford</option>
<option value="murfreesboro">Murfreesboro</option>
<option value="nashville">Nashville</option>
<option value="new hope">New Hope</option>
<option value="new johnsonville">New Johnsonville</option>
<option value="new market">New Market</option>
<option value="new tazewell">New Tazewell</option>
<option value="newbern">Newbern</option>
<option value="newport">Newport</option>
<option value="niota">Niota</option>
<option value="nolensville">Nolensville</option>
<option value="normandy">Normandy</option>
<option value="norris">Norris</option>
<option value="oak hill">Oak Hill</option>
<option value="oak ridge">Oak Ridge</option>
<option value="oak ridge">Oak Ridge</option>
<option value="oakdale">Oakdale</option>
<option value="oakland">Oakland</option>
<option value="obion">Obion</option>
<option value="oliver springs">Oliver Springs</option>
<option value="oliver springs">Oliver Springs</option>
<option value="oliver springs">Oliver Springs</option>
<option value="oneida">Oneida</option>
<option value="orlinda">Orlinda</option>
<option value="orme">Orme</option>
<option value="palmer">Palmer</option>
<option value="paris">Paris</option>
<option value="parker's crossroads">Parker's Crossroads</option>
<option value="parrottsville">Parrottsville</option>
<option value="parsons">Parsons</option>
<option value="pegram">Pegram</option>
<option value="petersburg">Petersburg</option>
<option value="petersburg">Petersburg</option>
<option value="philadelphia">Philadelphia</option>
<option value="pigeon forge">Pigeon Forge</option>
<option value="pikeville">Pikeville</option>
<option value="piperton">Piperton</option>
<option value="pittman center">Pittman Center</option>
<option value="plainview">Plainview</option>
<option value="pleasant hill">Pleasant Hill</option>
<option value="pleasant view">Pleasant View</option>
<option value="portland">Portland</option>
<option value="powell's crossroads">Powell's Crossroads</option>
<option value="pulaski">Pulaski</option>
<option value="puryear">Puryear</option>
<option value="ramer">Ramer</option>
<option value="red bank">Red Bank</option>
<option value="red boiling springs">Red Boiling Springs</option>
<option value="ridgely">Ridgely</option>
<option value="ridgeside">Ridgeside</option>
<option value="ridgetop">Ridgetop</option>
<option value="ridgetop">Ridgetop</option>
<option value="ripley">Ripley</option>
<option value="rives">Rives</option>
<option value="rockford">Rockford</option>
<option value="rockwood">Rockwood</option>
<option value="rocky top">Rocky Top</option>
<option value="rocky top">Rocky Top</option>
<option value="rogersville">Rogersville</option>
<option value="rossville">Rossville</option>
<option value="rutherford">Rutherford</option>
<option value="rutledge">Rutledge</option>
<option value="saltillo">Saltillo</option>
<option value="samburg">Samburg</option>
<option value="sardis">Sardis</option>
<option value="saulsbury">Saulsbury</option>
<option value="savannah">Savannah</option>
<option value="scotts hill">Scotts Hill</option>
<option value="scotts hill">Scotts Hill</option>
<option value="selmer">Selmer</option>
<option value="sevierville">Sevierville</option>
<option value="sharon">Sharon</option>
<option value="shelbyville">Shelbyville</option>
<option value="signal mountain">Signal Mountain</option>
<option value="silerton">Silerton</option>
<option value="silerton">Silerton</option>
<option value="slayden">Slayden</option>
<option value="smithville">Smithville</option>
<option value="smyrna">Smyrna</option>
<option value="sneedville">Sneedville</option>
<option value="soddy-daisy">Soddy-Daisy</option>
<option value="somerville">Somerville</option>
<option value="south carthage">South Carthage</option>
<option value="south fulton">South Fulton</option>
<option value="south pittsburg">South Pittsburg</option>
<option value="sparta">Sparta</option>
<option value="spencer">Spencer</option>
<option value="spring city">Spring City</option>
<option value="spring hill">Spring Hill</option>
<option value="spring hill">Spring Hill</option>
<option value="springfield">Springfield</option>
<option value="st. joseph">St. Joseph</option>
<option value="stanton">Stanton</option>
<option value="stantonville">Stantonville</option>
<option value="sunbright">Sunbright</option>
<option value="surgoinsville">Surgoinsville</option>
<option value="sweetwater">Sweetwater</option>
<option value="sweetwater">Sweetwater</option>
<option value="tazewell">Tazewell</option>
<option value="tellico plains">Tellico Plains</option>
<option value="tennessee ridge">Tennessee Ridge</option>
<option value="tennessee ridge">Tennessee Ridge</option>
<option value="thompson's station">Thompson's Station</option>
<option value="three way">Three Way</option>
<option value="tiptonville">Tiptonville</option>
<option value="toone">Toone</option>
<option value="townsend">Townsend</option>
<option value="tracy city">Tracy City</option>
<option value="trenton">Trenton</option>
<option value="trezevant">Trezevant</option>
<option value="trimble">Trimble</option>
<option value="trimble">Trimble</option>
<option value="troy">Troy</option>
<option value="tullahoma">Tullahoma</option>
<option value="tullahoma">Tullahoma</option>
<option value="tusculum">Tusculum</option>
<option value="unicoi">Unicoi</option>
<option value="union city">Union City</option>
<option value="vanleer">Vanleer</option>
<option value="viola">Viola</option>
<option value="vonore">Vonore</option>
<option value="walden">Walden</option>
<option value="wartburg">Wartburg</option>
<option value="wartrace">Wartrace</option>
<option value="watauga">Watauga</option>
<option value="watertown">Watertown</option>
<option value="waverly">Waverly</option>
<option value="waynesboro">Waynesboro</option>
<option value="westmoreland">Westmoreland</option>
<option value="white bluff">White Bluff</option>
<option value="white house">White House</option>
<option value="white house">White House</option>
<option value="white pine">White Pine</option>
<option value="whiteville">Whiteville</option>
<option value="whitwell">Whitwell</option>
<option value="williston">Williston</option>
<option value="winchester">Winchester</option>
<option value="winfield">Winfield</option>
<option value="woodbury">Woodbury</option>
<option value="woodland mills">Woodland Mills</option>
<option value="yorkville">Yorkville</option>

                </select>
            </div>
            <div class="module">
                <h3 class="module-title">Date</h3>
                <input type="date" name="date" min="1900-01-01" max="2023-12-31">
            </div>
            <button type="submit" class="button">Search</button>
        </form>
    </div>
</body>
</html>
